/*-----------------------------------
		CSS TABLE GALLERY
		STYLESHEET: CLEAR BLUE
		AUTHOR: ROBERT HARTL
------------------------------------*/

table  {
	font-size:90%;
	font-family: "trebuchet ms", "lucidia grande", verdana, arial, sans-serif;
	line-height:1.2em;
	color: #333;
	background-color:#fff;
	border-collapse:collapse;
	text-align:left;
	letter-spacing:.1em;
}

table caption {
	padding-bottom:1em;
	text-align: center;
	font-size: 1.4em;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing:.6em;
	color: #333;
	background: transparent;
}
  
table thead th, table tfoot th, table tfoot td {
	font-family: arial, verdana, sans-serif;
	border-right: 1px solid #fff;
	padding-left:5px;
	font-variant:small-caps;
	letter-spacing:0.1em;
	color: #fff;
	background: #009;
}
  
table tfoot th, table tfoot td {
	border-top: 2pt double #009;
}

table td, table th {
	padding:4px;
}

table tbody tr th, table tbody tr td {
	border-bottom: 1px dotted #009;
}

table tbody tr:hover td, table tbody tr:hover th {
	border-bottom: 1px solid #333;
}

table table a[title^="Download"] { 
	font-style:italic;
}

table tbody td a, table tbody th a {
	background: transparent;
	color: #009;
	text-decoration: none;
	border:none;
}

table tbody td a:hover, table tbody th a:hover {
	background: transparent;
	color: #930;
}

table .odd {
	background: #e3e3f4;
}

table tbody tr:hover {
	color: #333;
	background: #c6c6e8;
}

table tbody tr th:hover {
	background:#fff;
}

table table a:visited {
	text-decoration: line-through;
	color:#ccc;
}