/*
Theme: inphecthyuz
Author: Infected-FX
URL: www.infectedfx.net
Country: Mexico
*/

table  {
	border-spacing:1px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	background-color:#E7E7E7;
	color: #b7b7b7;
}

table caption {
	font-weight: bold;
	background: #50ADEA url(http://infectedfx.net/css/tables/corner.gif) no-repeat right top;
	border-bottom:2px solid #1975d7;
	color: #FFF;
	text-transform:uppercase;
	padding:10px;
}

table td,table th {
	padding: 4px;
}

table thead th {
	text-align: center;
	background: #d3d3d3;
	color: #666;
	border: 1px solid #FFF;
	text-transform:uppercase;
}

table tbody th {
	font-weight: bold;
}

table tbody tr		{
	background-color:#FFF; 
	text-align:left;
	}
table tbody tr.odd 	{
	background: #f9f9f9;
	border-top:1px solid #FFF;
}

table tbody th a:link, table tbody th a:visited{
	color:#96D030;
	background:url(http://infectedfx.net/css/tables/layout.gif) no-repeat; 
	padding:3px 0px 0px 18px;
	}
table tbody th a:hover{
	color:#FF8601;
	}

table tbody tr td { 
	height:50px;
	background: #FFF;
	border: 1px solid #FFF;
	}

table tbody tr.odd td{ 
	background: #f9f9f9;
	border-top:1px solid #FFF;
	}

table  td a:link, table  td a:visited {
	color: #1975D7;
	text-decoration: none;
}

table  td a:hover {
	color: #50ADEA;
	border-bottom:2px solid #8FD5FF;
	text-decoration: none ;
}
table tbody td a[href="http://www.infectedfx.net"] {
	margin: 0 auto;
	height: 15px;
	background: url(http://infectedfx.net/css/tables/ok.gif) no-repeat;
	border-bottom: 0;
	padding:3px 0px 0px 18px;
	font-weight:bold;
	color:#FF8601;
}

table  a[title^="Download"] { 
	background: url(http://infectedfx.net/css/tables/down.gif) no-repeat center;
	padding:20px 0px 0px 15px;
}

table tfoot th, table tfoot td {
	background-color:#E7E7E7; padding:10px;
	text-align:center; 
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:22px; font-weight:bold; font-style:italic;
	border-bottom:3px solid #CCC;
	border-top:1px solid #d3d3d3;
}