/*******************
Author: Patrick Ryan
URL: http://www.agavegroup.com

Feel free to use this however you like.  Credit is always appreciated.
*******************/
* {
	margin:0;
	padding:0;
}
body {
	font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	color:#2e3436;
	outline:none;
	font-size:16px;
	background:#FFF;
	text-align:justify;
}

.mytooltip {
	cursor: help;
	color: green;
}

a:link {
	color:black;
    text-decoration:none;

}

a:visited {
	color:black;
    text-decoration:none;
}

a:active {
    text-decoration:none;
}

a:hover {
    color:#7A1818;
    text-decoration:none;
}

td.form {
	vertical-align: bottom;
	padding:10px;
	border:0px;

}


td.verse {
	font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	color:#2e3436;
	outline:none;
	font-size:16px;
	padding:10px;
	border:0px;
	text-align:justify;
	width:600px;
}

td.numero {
	font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	color:#2e3436;
	outline:none;
	font-size:12px;
	border:0px;
	text-align:right;
	vertical-align:center;
}



td.ref {
	font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	color:#2e3436;
	outline:none;
	font-size:12px;
	border:0px;
	text-align:left;
	vertical-align:center;
	width:75px;
	padding:4px;
}

img {
	border:0;
}

h1 {
	background-color: #7A1818;
	color: white;
	font-size:179%;
	text-shadow:-1px -1px -1px gray;
	text-align:center;
	text-transform:uppercase;
}

h2 {
	color: #7A1818;
	text-shadow:1px 1px 1px gray;
	text-transform:uppercase;
	font-size:350%;
	letter-spacing:-5px;
}

h3 {
	text-shadow:1px 1px 1px gray;
	padding-top:15px;
	font-size:200%;
	text-transform:uppercase;
	letter-spacing:-2px;
		
}
h4 {
	text-shadow:1px 1px 1px gray;
	padding:0;
	font-size:150%;
	text-transform:uppercase;
	letter-spacing:-2px;
	color:#7A1818;
		
}

tr.even {
	background: #F0F0F0;
}

tr.odd {
	background: #fff;
}

#numeros {
	font-size:9px;
}

#container {
	width:60%;
	margin-left:24%;
	margin-top:75px;
}	
#esquerda {
	width: 20%;
	left:0;
	top:90px;
	position:fixed;
	text-align:left;
}

#direita {
	width: 20%;
	right:10px;
	top:90px;
	position:fixed;
	text-align:left;
	padding:10px;
	font-size:85%;
	color:#696969
}

#numeracao {
	width: 7%;
	text-align:left;
	vertical-align:top;
}

#verse {
	width: 100%;
	float: right ;
}

#formulario {
	width:100%;
	float:center;
	border-bottom:1px solid black;
	background-color:white;	
}



#topo {
	top:0;
	width:100%;
	position:fixed;
	background-color:#7A1818;	
}

input, textarea{
	border:0;
	margin:3px;
	padding:0px 3px;
	height:18px;
	font:90% "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	color:#666666;
}

select{
	border:0;
	margin:3px;
	padding:0px 3px;
	font:70%/140% "Trebuchet MS", "Lucida Grande", "Bitstream Vera Sans", Arial, Helvetica, sans-serif;
	color:#666666;
	width:150px;
}

label{
	float:left;
	margin:5px;
	width:100px;
	display:block;
}

.clearAll{
	clear:both;
}

/***** Shadows that wrap around ALL elements ***********/
.frmShdwTopLt{
	float:left;
	background:url(/images/shadowUpperLeft.gif) top left no-repeat;
}

.frmShdwBottomRt{
	float:left;
	background:url(/images/shadowLowerRight.gif) bottom right no-repeat;
}

.frmShdwBottomLt{
	float:left;
	background:transparent url(/images/shadowBottomLeft.gif) bottom left no-repeat;
}

.frmShdwTopRt{
	float:left;
	background:transparent url(/images/shadowTopRight.gif) top right no-repeat;
}


/***** styles specific to the CHECKBOX **********/
.frmShdwCheck{
	border:0;
	margin:0;
	padding:0;
}

.frmShdwCheck img{
	border:0;
	margin:0;
}

	
/***** styles specific to the RADIO BUTTONS **********/
.frmShdwRadio{
	float:left;
	margin:0;
}

.frmShdwRadio img{
	border:0;
	margin:0;
}

	
/***** styles specific to the SUBMIT BUTTONS **********/
.frmShdwSubmit{
	border:0;
	background:#f7f7f7 !important;
	background:transparent;
	float:left;
	font-weight:bold;
	cursor:pointer;
	height:18px;
}

.frmShdwSubmit:hover{
	color:#7A1818;
}
	

/***** styles specific to the SELECT BOX **********/
.frmShdwSelectDropChosen{
	margin:3px 3px 3px 5px;
	padding: 0 0 0 2px !important;
	padding: 0 0 3px 2px;
	font-size:.9em;
	float:left;
	border-right:1px solid #cccccc;
	border-left:1px solid #ffffff !important;
	border-left:0;
	display:block;
	cursor:pointer;
	/*some stuff for IE*/
	color:#666666;
	text-decoration:none;
}

.frmShdwSelectDropShown{
	margin:3px 3px 3px 5px;
	padding: 0 0 0 2px;
	font-size:.9em;
	float:left;
	border-right:1px solid #cccccc;
	border-left:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	position:absolute;
	background:#ffffff;
}

.frmShdwSelectDrop{
	display:none;
}

.fakeSelectImg{
	border:0;
	margin:5px 5px 0px 0px;
}

.frmShdwSelectDropShown a{
	display:block;
	margin:0;
	padding:0px;
	border-bottom:1px dashed #ffffff;
	text-decoration:none;
	color:#666666;
}
	
.frmShdwSelectDropShown a.selected{
	background:#f7f7f7;
	color:#000000;
	border-bottom:1px dashed #cccccc;
	}
	
.frmShdwSelectDropShown a.selected:after{
	content:" <<";
}
	
	
.frmShdwSelectDropShown a:hover{
	background:#f7f7f7;
	border-bottom:1px dashed #cccccc;
	text-decoration:none;
	color:#666666;
}
	
.frmShdwSelectDropShown a:hover:after{
	content:" <<";
}