/*
* Style: Salmon
* Author: Ricardo Aroca
* Site: www.agenciaweb.cl
* Country Origin: Chile
*/
/* GENERAL*/
table  { font: 11px Verdana, Arial, Helvetica, sans-serif; }
table a { color:#f60;	text-decoration:none; }
table a:hover { text-decoration:underline; }
table a:visited { color:#ffb17d; }
table  caption, table th, table tfoot td { font-family:Georgia, "Times New Roman", Times, serif; }
table  caption { font-size:40px; font-weight:normal; font-variant:small-caps;
	color:#f60;	letter-spacing:.3em; text-align:center; padding-bottom:.5em; }
table  { width:650px; border-collapse:collapse; border:4px solid #f60;}
table td,table th { padding:5px; }
/* THEAD*/
table thead th { font-size:15px; font-weight:normal; font-variant:small-caps;
	color:#fff2ea;	background-color:#f60; }
/* TFOOT */
table tfoot th, table tfoot td { font-size:15px; font-weight:bold; 
	color:#fff2ea;	background-color:#f60; padding:10px; }
table tfoot td { font-size:30px;	font-weight:normal; }
/* TBODY */
table tbody td, table tbody th { line-height:140%; background-color:#fff; color:#666; }
table tbody tr.odd td, table tbody tr.odd th { background-color:#fff2ea;	border:1px solid #f60; border-width:1px 0; }
table tbody th a { font-size:13px; font-weight:normal; font-variant:small-caps; }

/* ONLY REAL GOOD BROWSERS */
/* GENERAL */
table tbody td+td+td+td {	text-align:right; }
table tbody tr th:before { content:"\2588\00A0\00A0"; color:#f60;}
table tbody td+td+td+td:before { content:"\21E9"; color:#f60; }
/* HOVER */
table tbody tr:hover td, tbody tr:hover th:before { color:#000; }
table tbody tr:hover td a, tbody tr:hover th a { color:#000; text-decoration:underline; }
table tbody tr:hover td a:visited, tbody tr:hover th a:visited { color:#ccc; }
table tbody tr:hover td+td+td+td a { font-weight:bold; }
table tbody tr:hover td+td+td+td:before { color:#000; }