/*
Theme: Leandro Pessoa
Author: Simple and Clean
URL: http://www.leandropessoa.com.br
Country: Brazil
*/
table {border-spacing:1px;font:10px 'Verdana', Arial, Helvetica, sans-serif;background:#E7E7E7;color:#666666;}
table caption{border:#666666;border-bottom:2px solid #666666;text-transform:uppercase;padding:10px;background:url(http://www.leandropessoa.com.br/table/img/TableCaption.jpg);font:15px 'Verdana', Arial, Helvetica, sans-serif;font-style:italic;font-weight:bold;}
table td, table th{padding:4px;}
table thead th{text-align:center;background:#d3d3d3;color:#666666;border:1px solid #ffffff;text-transform:uppercase;}
table tbody th{font-weight:bold;}
table tbody tr{background:#EBF8FE;text-align:left;}
table tbody tr.odd{background:#ffffff;border-top:1px solid #ffffff;}
table tbody th a:link, 
table tbody th a:visited{color:#666666;padding:3px 0px 0px 18px;background:url(http://www.leandropessoa.com.br/table/img/ico_novajanela.gif);background-repeat:no-repeat;}
table tbody th a:hover{color:#009900;}
table tbody tr td{height:50px;background:#EBF8FE;border:1px solid #ffffff;}
table tbody tr.odd td{background:#ffffff;border-top:1px solid #ffffff;}
table  td a:link, table  td a:visited{color:#666666;text-decoration:none;font-weight: bold;}
table  td a:hover{color:#009900;text-decoration:underline;font-weight: bold;}
table  a[title^="Download"]{background:url(http://www.leandropessoa.com.br/table/img/icPADRAO.gif) no-repeat center;padding:20px 0px 0px 15px;}
table tbody td a[href="http://www.leandropessoa.com.br"]{margin:0 auto;height:15px;border-bottom:0;padding:3px 0px 0px 18px;font-weight:bold;color:#FF8601;background:url(http://www.leandropessoa.com.br/table/img/check.gif);background-repeat: no-repeat;}
table tfoot th, tfoot td{background:url(http://www.leandropessoa.com.br/table/img/TableCaption.jpg);padding:10px;text-align:center;font:15px 'Verdana', Arial, Helvetica, sans-serif;font-style:italic;font-weight:bold;border-bottom:3px solid #cccccc;border-top:1px solid #d3d3d3;}