<h1>Livros</h1>
<div id="container">
<% testamento_anterior = '' %>


<% @livros.each do |livro| %>
 <% if livro.testamento.nome != testamento_anterior %> 
<br><h2> <%=h livro.testamento.nome %> Testamento</h2>
   <% testamento_anterior = livro.testamento.nome %>
  <% end %>
<table>
<tr>
    <td><%=h livro.nome %></td>
<% end %>
  </tr>

</table>
</div>
<br />
